<img id="home-background"/>
<div class="container home-container" id="time-container">
  <div id="clock">
  </div>
  <div id="date">
  </div>
  <a class="home-btn" href="#news">news</a>
</div>
<!-- TODO
<div class="container home-container" id="todo-container">
  todo things here
</div>
<div class="container home-container" id="cal-container">
  calendar things here
</div>
-->
<div id="image-info">About this image</div>
