$ ->
  getFeed()


getFeed = ->
  $.ajax '/api/home',
    type: 'GET'
    dataType: 'json'
    error: (status) ->
      console.log(status)
    success: (data) ->
      appendToTable data

appendToTable = (data) ->
  table = $('#feed')
  for article of data
    row = $("<tr  />")
    src = data[article].source
    table.append row
    row.append $("<td>#{data[article].title}</td>")
    row.append $("<td>TODO: pretty picture</td>")
    row.append $("<td>#{mapFeed(data[article].feed)}</td>")
    row.append $("<td>#{data[article].date_posted}</td>")

getImageFromSource = (source) ->
  src_map =
    'NPR': 'assets/npr_logo.jpg'
  src_map[source]

mapFeed = (raw_feed) ->
  feed_map =
    '1019': 'Technology',
    '1049': 'Digital Life'
  feed_map[parseInt(raw_feed, 10)]
